{% extends 'FIPBankBundle:Default:index.html.twig'%}
{% block title %}
    <title>Profile Settings</title>
{% endblock %}

{% block brand %}
    <a class="navbar-brand" href="#" style="font-family: 'Roboto Slab', serif;">FiBank System Management Portal</a>
{% endblock %}

{% block item %}    
    <li>
        <a href="#"><i class="fa fa-wrench fa-fw"></i> Accounts<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level in">
            <li >
                <a href="{{path('Admin')}}">Customer Accounts</a>
            </li>
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <li >
                    <a href="{{path('CreateAdmin')}}">Admin Accounts</a>
                </li>
            {% endif %}            
        </ul>        
    </li>
    <li>
        <a href="#"><i class="fa fa-wrench fa-fw"></i> Settings<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
            <li>
                <a href="#">Profile Settings</a>
            </li>
                       
        </ul> 
    </li>
{% endblock %}

{% block header %}
    <h2 class="page-header">Profile Settings</h2>
{% endblock %}

{% block pageContent %}

    <div id="profieSettings">
        <div id="register" class="row well">

            {{form_start(form,{'action': path('fos_user_change_password'),'method':'POST'})}}
            <div class="form-group">                
                {{form_label(form.current_password,{},{'label_attr':{'class':'control-label'}})}}
                {{form_widget(form.current_password,{'attr':{'class':'form-control','placeholder':'Enter current password'}})}}                    
            </div>
         
            <div class="form-group">                
                {{form_label(form.new.first,{},{'label_attr':{'class':'control-label'}})}}
                {{form_widget(form.new.first,{'attr':{'class':'form-control','placeholder':'Enter new password'}})}}                    
            </div>
            <div class="form-group">                
                {{form_label(form.new.second,{},{'label_attr':{'class':'control-label'}})}}
                {{form_widget(form.new.second,{'attr':{'class':'form-control','placeholder':'Re-type new password'}})}}                    

            </div >
            
            <div >
                <button class="btn btn-success pull-right" type="submit">Change password <i class="fa fa-arrow-right"></i></button>
            </div>
            {{form_end(form)}}

        </div>
    </div>
        
        
{% endblock %}{# empty Twig template #}
