<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}FiBank{% endblock %}</title>
        <link href="{{asset('css/bootstrap.min.css')}}" type="text/css" rel="stylesheet">
        <link href="{{asset('css/font-awesome.min.css')}}" type="text/css" rel="stylesheet">
        <link href="{{asset('css/base-custom.css')}}" type="text/css" rel="stylesheet">
        
        <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:700' rel='stylesheet' type='text/css'>


    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('apple-touch-icon.jpg') }}" />
</head>
<body>
    {% block navbar %}

        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#" style="font-family: 'Roboto Slab', serif;font-size: 25pt;color: whitesmoke;"> FiBank</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav" style="font-weight: bold;">
                        <li><a href="{{path('fip_homepage')}}"><span class="glyphicon glyphicon-home"></span> Home</a></li>                        
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">The Bank <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{path('fip_managementBoard')}}">Board of Management</a></li>
                                <li><a href="{{path('fip_valuesBeliefs')}}">Values & Beliefs</a></li>                                
                                <li><a href="{{path('fip_branchLocator')}}">Branch Locator</a></li>                                
                                <li role="separator" class="divider"></li>
                                <li><a href="http://blog.fib-lib.com/">Blog</a></li>                               
                            </ul>
                        </li>
                        <li><a href="{{path('fip_homepage')}}#products">Product & Services</a></li>
                        <li><a href="{{path('fip_homepage')}}#contacts">Customer Services</a></li>
                            {% if app.user == null%}
                            <li><a href="#" data-toggle="modal" data-target="#myModal" ><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                            {% else %}
                            <li>
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    <i class="glyphicon glyphicon-log-out"></i> <strong>LogOut</strong> <i class="fa fa-caret-down"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a  href="{{path('fip_RoleSelector')}}">
                                            <i class="glyphicon glyphicon-user"></i><strong> {{app.user.username}}</strong>
                                        </a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a href="{{path('fos_user_security_logout')}}"><i class="glyphicon glyphicon-log-out"></i><strong> LogOut</strong></a>
                                    </li>

                                </ul>
                            </li>
                        {% endif %}
                    </ul>
                </div><!-- /.navbar-collapse -->

            </div><!-- /.container-fluid -->
        </nav>


        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">                    
                    <div class="modal-body" style="background-color: rgba(19, 35, 47, 0.9);font-family: TitilliumWeb-SemiBold;">
                        <h2 class="text-center" style="color: white;">WELCOME BACK</h2>
                        <form action="{{ path("fos_user_security_check") }}" method="post">

                            <div class="form-group">
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

                                <label style="color: white;" for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
                                <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" required="required" />

                                <label style="color: white;" for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
                                <input class="form-control" type="password" id="password" name="_password" required="required" />
                            </div>

                            <div class="modal-footer">
                                <input class="btn btn-success btn-block btn-lg" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
                            </div>
                        </form>

                    </div>

                </div>
            </div>
        </div>



    </div>


</div>


{% endblock %}

{% block body %}{% endblock %}

{% block footer %}

    <footer style="background-image: url({{asset('images/footer.jpg')}})">
        <div class="container">
            <div class="row" style="padding: 1em;">
                <div id="policy" class="col-md-2">
                    <h4><strong style="color: white;">Terms</strong></h4>
                    <a href="{{path('fip_privacyStatement')}}" style="color: #636363;">Privacy Policy</a><br />
                    <a href="{{path('fip_termsConditions')}}" style="color: #636363;">Term & Condition</a><br />
                    <a href="#" data-toggle="modal" data-target="#myModal" style="color: #636363;">Staff Access</a><br />
                </div>
                <div id="social" class="col-md-3" style="border-left: 1px groove #323131;border-right: 1px groove #323131;">
                    <h4><strong style="color: white;">Connect with us</strong></h4>
                    <a href="http://www.facebook.com/Fibankliberia" style="color: #636363;"><i class="fa fa-facebook-square"></i> Facebook</a><br />
                    <a href="http://www.twitter.com/Fibankliberia" style="color: #636363;"><i class="fa fa-twitter-square"></i> Twitter</a><br />
                    <a href="http://www.youtube.com/Fibankliberia" style="color: #636363;"><i class="fa fa-youtube-square"></i> Youtube</a><br />
                    <br />
                    <div class="fb-like" data-href="https://www.facebook.com/Fibankliberia" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
                </div>
                <div id="details" class="col-md-7">
                    <h4 ><strong style="color: white;">Contact with us</strong></h4>
                    <div class="col-md-5" style="color: #636363;">
                        <p>Head office :</p>
                        Luke Building,<br />
                        Near Cumberland Presbyterian Church,<br />
                        Broad Street,Comm 5.<br />
                        Tema.<br />
                        Ghana.

                    </div>
                    <div class="col-md-4" style="color: #636363;">
                        <div>
                            Sunyani<br />
                            Behind Municipal Assembly, Sunyani, Sunyani<br />
                            Brong-Ahafo, Ghana.
                        </div>
                        <div>
                            <br />Accra<br />
                            5th Volta Street Box 4431.<br /> 
                            Airport Residential,<br />
                            Accra, Ghana.
                        </div>
                    </div>
                    <div class="col-md-3" style="color: #636363;">
                        Adum-Kumasi<br />
                        Prempeh II Street, Adum-Kumasi.<br />
                        Kumasi Metropolis. Ghana

                    </div>

                </div>
            </div>

            <div class="text-center" style="color: white;">
                <img src="{{asset('images/footer-logo.gif')}}"> Copyright © 2015, First International Bank . All Rights Reserved.
            </div>
        </div>
    </footer>




{% endblock %}
{% block javascripts %}{% endblock %}

<script src="{{asset('js/jquery.js')}}"></script>
<script src="{{asset('js/bootstrap.js')}}"></script>

</body>
</html>
