{% extends 'FIPBankBundle:Default:index.html.twig'%}

{% block title %}
    <title>History</title>
{% endblock %}

{% block brand %}
    <a class="navbar-brand" href="#" style="font-family: 'Roboto Slab', serif;">FiBank Customer Portal</a>
{% endblock %}

{% block item %}

    <li>
        <a href="#"><i class="fa fa-table fa-fw"></i> Transaction History</a>
    </li>
    <li>
        <a href="{{path('customerSettings')}}"><i class="fa fa-edit fa-fw"></i> Settings</a>
    </li>     
{% endblock %}

{% block header %}
    <h2 class="page-header">Transactions History</h2>
{% endblock %}

{% block pageContent %}
    <div id="accountDetails">
        <div>
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="col-lg-6">
                                <h3><strong>Account Number :</strong></h3>
                            </div>
                            <div class="col-lg-6 text-right">
                                <h3><strong>{{bankAccount.accountNumber}}</strong></h3>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="col-lg-6">
                                <h3><strong>Account Balance :</strong></h3>
                            </div>
                            <div class="col-lg-6 text-right">
                                <h3><strong>₦ {{bankAccount.accountBalance}}</strong></h3>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <div id="history">
        <div id="transactionTable" class="row">
            <div>
                <table class="table table-hover">
                    <tr>
                        <th>Transaction ID</th>
                        <th>UserID</th>
                        <th>Transferred to</th>
                        <th>Verified date</th>
                        <th>Amount Transferred (₦)</th>
                    </tr>
                    {% for histo,elements in history %}
                        <tr id="{{loop.index}}">
                            {% for element in elements%}
                                <td>{{element}}</td>                        
                            {% endfor %}
                        </tr>
                    {% endfor %}

                </table>
            </div>

        </div>

    </div>


{% endblock %}

{% block js %}
    <script>

    </script>



{% endblock %}