{% extends 'FIPBankBundle:Default:index.html.twig'%}
{% block title %}
    <title>System Management</title>
{% endblock %}

{% block brand %}
    <a class="navbar-brand" href="#" style="font-family: 'Roboto Slab', serif;">FiBank System Management Portal</a>
{% endblock %}

{% block item %}    
    <li>
        <a href="#"><i class="fa fa-wrench fa-fw"></i> Accounts<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level in">
            <li >
                <a href="{{path('superAdmin')}}">Customer Accounts</a>
            </li>
            {% if is_granted('ROLE_SUPER_ADMIN')%}
                <li>
                    <a href="{{path('CreateAdmin')}}">Admin Accounts</a>
                </li>   
            {% endif %}         
        </ul>        
    </li>
    <li>
        <a href="#"><i class="fa fa-wrench fa-fw"></i> Settings<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
            <li>
                <a href="{{path('profileSettings')}}">Profile Settings</a>
            </li>

        </ul> 
    </li>
{% endblock %}

{% block header %}
    <h2 class="page-header">Customer Accounts</h2>
{% endblock %}

{% block pageContent %}
    <div id="customerAccount">
        <div id="register" class="row well">

            {{form_start(registrationForm,{'action': path('fos_user_registration_register'),'method':'POST'})}}
            <div class="form-group">                
                {{form_label(registrationForm.username,{},{'label_attr':{'class':'control-label'}})}}
                {{form_widget(registrationForm.username,{'attr':{'class':'form-control','placeholder':'Enter user name'}})}}                    
            </div>
            <div class="form-group">                
                {{form_label(registrationForm.accountNumber,{},{'label_attr':{'class':'control-label'}})}}
                {{form_widget(registrationForm.accountNumber,{'attr':{'class':'form-control','placeholder':'Enter customer account number'}})}}                    
            </div>
            <div class="form-group">                
                {{form_label(registrationForm.email,{},{'label_attr':{'class':'control-label'}})}}
                {{form_widget(registrationForm.email,{'attr':{'class':'form-control','placeholder':'Enter E-mail address'}})}}                    

            </div>
            <div class="form-group">                
                {{form_label(registrationForm.plainPassword.first,{},{'label_attr':{'class':'control-label'}})}}
                {{form_widget(registrationForm.plainPassword.first,{'attr':{'class':'form-control','placeholder':'Enter password'}})}}                    
            </div>
            <div class="form-group">                
                {{form_label(registrationForm.plainPassword.second,{},{'label_attr':{'class':'control-label'}})}}
                {{form_widget(registrationForm.plainPassword.second,{'attr':{'class':'form-control','placeholder':'Re-type password'}})}}                    

            </div >           

            {% if is_granted('ROLE_SUPER_ADMIN')%}
                <div class="form-group">                
                    {{form_label(registrationForm.role,{},{'label_attr':{'class':'control-label'}})}}                                
                    {{form_widget(registrationForm.role,{'attr':{'class':'form-control','placeholder':'Select Role'}})}}                  
                </div>
            {% else %}
                <div class="form-group" style="display: none;">                
                    {{form_label(registrationForm.role,{},{'label_attr':{'class':'control-label'}})}}                                
                    {{form_widget(registrationForm.role,{'attr':{'class':'form-control','value':'ROLE_USER','placeholder':'Select Role'}})}}                  
                </div>
            {% endif %} 

            <div >
                <button class="btn btn-success pull-right" type="submit">Register <i class="fa fa-arrow-right"></i></button>
            </div>
            {{form_end(registrationForm)}}
        </div>

    </div>


{% endblock %}